.projects-page{
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
}
.project-image{
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}
.labelfiltre {
    display: none;
}
.modal-content-projets {
    width: 80%;
    height: 80%;
}
.button-text {
    margin-left: 10px;
}  
.button-project-link{
    background-color: #fafafa;
    color: darkcyan;
}
.button-project-link:hover {
    background-color: darkcyan;
    color:#fafafa ;
}
.lienssite{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 20px;
    padding: 20px 0;
}
.project-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.project-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
.project-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color:  darkcyan;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.project-card a:hover {
    background-color:  darkcyan;
}
.project-details {
    position: relative; 
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #f9f9f9;
}
.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.filter-label {
    font-weight: bold;
}
.filters select {
    border: 2px solid #007272;  
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
@media (max-width: 767.99px) {
    .projects-page{ 
        padding: 0;
    } 
    .project-card{
        min-height: 248px;
    }
    .modal-content{
        width: 100%;
    }
}
@keyframes dropIn {
    from { 
        opacity: 0;
        transform: translateY(-100px); 
    }
    to { 
        opacity: 1;
        transform: translateY(0); 
    }
}
.projects-list .project-card {
    opacity: 0;
    transform: translateY(-100px);
    animation: dropIn 0.8s ease-out forwards; 
    animation-play-state: paused; 
}
.projects-list.drop-in .project-card {
    animation-play-state: running; 
}
.projects-list .drop-in .project-card:nth-child(1) {
    animation-delay: 0.2s;
}

.projects-list .drop-in .project-card:nth-child(2) {
    animation-delay: 0.4s;
}

.projects-list .drop-in .project-card:nth-child(3) {
    animation-delay: 0.6s;
}

.projects-list .drop-in .project-card:nth-child(4) {
    animation-delay: 0.8s;
}

.projects-list .drop-in .project-card:nth-child(5) {
    animation-delay: 1s;
}

.projects-list .drop-in .project-card:nth-child(6) {
    animation-delay: 1.2s;
}

.projects-list .drop-in .project-card:nth-child(7) {
    animation-delay: 1.4s;
}

.projects-list .drop-in .project-card:nth-child(8) {
    animation-delay: 1.6s;
}

.projects-list .drop-in .project-card:nth-child(9) {
    animation-delay: 1.8s;
}