.projects-page{
    text-align: center;
    padding: 20px;
    margin-bottom: 70px;
}
.project-image{
    height: 40%;
}
.labelfiltre {
    display: none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.modal-content {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 80%;
    height: 80%;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
  
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: darkcyan;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
  
.modal-close:hover {
    background: darkcyan;
}
    
.project-link:hover {
    background-color: #fafafa;
    color: darkcyan;
}

.lienssite{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
  
.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
}
  
.project-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 400px;
}
  
.project-card img {
    width: 100%;
    border-radius: 8px;
}
  
.project-card h3 {
    margin-top: 15px;
}
  
.project-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color:  darkcyan;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
  
.project-card a:hover {
    background-color:  darkcyan;
}
  
.filters {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
  
.filter-label {
    font-weight: bold;
}
.filters select {
    border: 2px solid darkcyan;  
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}
@media (max-width: 767.99px) {
    .projects-page{ 
     padding: 0;
    } 
}
@keyframes dropIn {
    from { 
        opacity: 0;
        transform: translateY(-100px); /* L'élément arrive de haut */
    }
    to { 
        opacity: 1;
        transform: translateY(0); /* Position finale */
    }
}

.projects-list .project-card {
    opacity: 0;
    transform: translateY(-100px);
    animation: dropIn 0.8s ease-out forwards; /* Animation avec durée et état final */
    animation-play-state: paused; /* L'animation commence en pause */
}

.projects-list.drop-in .project-card {
    animation-play-state: running; /* Une fois la classe 'drop-in' appliquée, l'animation se lance */
}

/* Chaque projet aura un délai d'animation progressif */
.projects-list .drop-in .project-card:nth-child(1) {
    animation-delay: 0.2s;
}

.projects-list .drop-in .project-card:nth-child(2) {
    animation-delay: 0.4s;
}

.projects-list .drop-in .project-card:nth-child(3) {
    animation-delay: 0.6s;
}

.projects-list .drop-in .project-card:nth-child(4) {
    animation-delay: 0.8s;
}

.projects-list .drop-in .project-card:nth-child(5) {
    animation-delay: 1s;
}

.projects-list .drop-in .project-card:nth-child(6) {
    animation-delay: 1.2s;
}

.projects-list .drop-in .project-card:nth-child(7) {
    animation-delay: 1.4s;
}

.projects-list .drop-in .project-card:nth-child(8) {
    animation-delay: 1.6s;
}

.projects-list .drop-in .project-card:nth-child(9) {
    animation-delay: 1.8s;
}