.carrousel-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 70px;
}
.carrousel-background {
    width: 100%;
}
  
h2 {
    margin-bottom: 20px;
}
  
.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
  
.carrousel-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 150px;
    text-align: center;
}
  
.arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    color:#007272;
    transition: color 0.3s;
}
  
.left {
    left: 20px;
    font-size: 30px;
}
  
.right {
    right: 20px;
    font-size: 30px;
}
@media (max-width: 767.99px) {
    .carrousel-item-text{
        font-size: 16px;
    }
    .carrousel-item{
        width: 250px;
    }
    .left {
        position: relative;
        left: -30px;
    }
    .right{
        position: relative;
        right: -30px;
    }
   

}


