.apropos{
   padding: 5%;
   margin-bottom: 10%;
   width: 100%;
   display: flex;
   justify-content: center;
}
.linkapropos{
    display: flex; 
    justify-content: space-between;
}
.linkaproposh1 {
    display: flex;
    margin-top: 0;
}
.homep {
    overflow: hidden;
    white-space: nowrap; 
    width: 0; 
    animation:  typing 5s steps(60) 1s forwards, blink 0.75s step-end infinite;
    font-size: 16px;
    font-size: 14px;
}
.aproposdiv{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}
.homepcontainer{
    width: 60%;
}
.aproposcitations {
    padding: 30px;
    background-color: darkcyan;
    color: white;
    width: 40%;
    max-width: 400px;
  
}

@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
    }
}
@keyframes blink {
    50% {
      border-color: transparent;
    }
}

.homep:nth-child(1) {
    animation: typing 3s steps(40) 0s forwards; 
}

.homep:nth-child(2) {
    animation: typing 3s steps(40) 2s forwards; 
}

.homep:nth-child(3) {
    animation: typing 3s steps(40) 4s forwards; 
}
.homep:nth-child(4) {
    animation: typing 3s steps(40) 7s forwards; 
}
.homep:nth-child(5) {
    animation: typing 3s steps(40) 9s forwards; 
}
.homep:nth-child(6) {
    animation: typing 3s steps(40) 11s forwards; 
}
.homep:nth-child(7) {
    animation: typing 3s steps(40) 13s forwards; 
}
.homep:nth-child(8) {
    animation: typing 3s steps(40) 15s forwards; 
}
.homep:nth-child(9) {
    animation: typing 3s steps(40) 17s forwards; 
}
.homep:nth-child(10) {
    animation: typing 3s steps(40) 19s forwards; 
}
.homep:nth-child(11) {
    animation: typing 3s steps(40) 21s forwards; 
}
.homep:nth-child(12) {
    animation: typing 3s steps(40) 23s forwards; 
}
.homep:nth-child(13) {
    animation: typing 3s steps(40) 26s forwards; 
}
.homep:nth-child(14) {
    animation: typing 3s steps(40) 30s forwards; 
}
.homep:nth-child(15) {
    animation: typing 3s steps(40) 33s forwards; 
}
.homep:nth-child(16) {
    animation: typing 3s steps(40) 36s forwards; 
}
.homep:nth-child(17) {
    animation: typing 3s steps(40) 39s forwards; 
}
.homep:nth-child(18) {
    animation: typing 3s steps(40) 41s forwards; 
}
.homep:nth-child(19) {
    animation: typing 3s steps(40) 43s forwards; 
}
.homep:nth-child(20) {
    animation: typing 3s steps(40) 46s forwards; 
}
.homep:nth-child(21) {
    animation: typing 3s steps(40) 50s forwards; 
}

.backhome{
    color: darkcyan;
    font-size: 32px;
    position: fixed;
    left: 5%;
}
.linkapropos{
    margin-bottom: 20px;
    position:absolute;
    top: 80px;
}
@media (max-width: 767.99px) {
    .homep{
        font-size: 14px;
    }

}
@media (max-width: 767.99px) {
    .aproposdiv{
        flex-direction: column-reverse;
        gap: 30px;
        width: 100%;
        margin-top: 50px;
    }
    .homepcontainer {
        width: 100%;
        margin-left: 20%;
    }
    .aproposcitations {
        width: 80%;
    }
}
@media (max-width: 620px) {
    .homep{
       margin-left: 3%;
    }
    .aproposcitationsp {
        font-size: 12px;
    }
    .aproposcitationsh3 {
        font-size: 16px;
    }
    .aproposcitations {
        width: 100%;
        padding: 0 10px 0 ;
    }
    .homepcontainer {
        margin-left: 0;
    }
}
@media (max-width: 440px) {
    .homep{
        font-size: 10px;
    }
}
