.softskills-container {
    text-align: center;
    padding: 70px;
    margin-bottom: 70px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.shuffle-button {
    background-color: rgb(228, 228, 231);
    color: #007272;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.shuffle-button:hover {
    text-decoration: underline;
}
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   cursor: pointer;
}
.skill-card:active {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.skill-card:hover {
    transform: scale(1.1);
}
.skill-icon {
    font-size: 40px;
    margin-bottom: 10px;
}
.skill-name {
    font-size: 1rem;
    margin-bottom: 10px;
}

.skillimage {
    width: 50px;
}
@media (max-width: 767.99px) {
    .softskills-container{
        padding: 20px 0;
    }
}