* {
  box-sizing: border-box;
}
body,html {
  margin: auto;
  min-width: 320px;
  background-color:rgb(228, 228, 231);
}
@media (min-width: 1760px) {
  .html, body{
    padding: 0 20%;
  }
}
@media (min-width: 1440px) {
  .html, body{
    padding: 0 2%;
  }
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  width: 100%;
}
.content {
  flex: 1;
}

.main-container {
  width: 100%;
}
* {
  font-family: "Montserrat", sans-serif;
}
.pagecontent {
  width: 100%;
  flex-grow: 1;
  padding: 0 3%;
}